@use 'index-fonts';

@mixin table-mobile {

  

 

  .innerbanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    
    a {
      text-decoration: none;
      color: black;

      &:visited {
        text-decoration: none;
        color: black;
      }
    }
    
    .guy {
      height: 2em;
      border-radius: 50%;
    }

    .heart {
      margin-right: 5%;
      height: 1em;
    }

    p {
      padding-left: 1em;
      padding-top: 0.3em;
      font-size: 0.7em;
    }

    .profile-box {
      margin-left: 3%;
      display: flex;
      height: 100%;
      align-items: center;

      .special {
        color: lightgrey;
      }
    }

  }

  .innercard {
    width: 100%;
    height: 20%;
    background-color: rgb(61, 61, 61);
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 5%;

    p {
      padding: 0.5em 0 0 0.4em;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  h2 {
    display: none;
  }

  .card {
    box-shadow: 3px 2px 2px 0 grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 24vh;
    background-image: url('/detail/eclipse.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
    margin: 0.2em;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-3px);
    }
  }
  main {
    height: 100vh;
  }

  .grid-wrapper {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .desktop-footer {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid darkgray;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    align-items: center;
    height: 5%;
    z-index: 5;
    a {
      margin-right: 5%;
    }
    h1 {
      margin-left: 8%;
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background-color: white;
    max-height: 5%;
    align-items: center;
    position:fixed;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid lightgrey;
    padding: 0.5em;
    .profilePic {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      border: 1px solid black;
    }
  }

}

@mixin table-laptop {
  body {
    display: flex;
  }
  main {
    margin-left: 12%;
  }
  .innerbanner {
    background-color: rgba(236, 236, 236, 0.3);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 100%;
    height: 20%;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    padding-bottom: 10px;
    width: 100%;
    margin: 5% 0 10% 30%;
    border-bottom: 2px solid black;
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,auto);
    height: 50rem;
    width: 60%;
    margin-left: 30%;
  }
  .card {
    border-radius: 1em;
    height: 80%;
    width: 43vh;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }

  .sidebar {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 12rem;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    border-right: 1px solid lightgrey;
    top: 0;

    .profilePic {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      border: 1px solid black;
    }
    a {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 1.1em;
      margin-top: 2.5rem;
      margin-left: 15%;

      &:visited {
        text-decoration: none;
        color: black;
      }

      p {
        margin-left: 1rem;
        font-size: 0.8em;
        p:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .desktop-footer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    border-top: 1px solid lightgrey;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    color: grey;
    z-index: 0;

    nav {
      width: inherit;
      display: inherit;
      justify-content: right;
      
      ul {
        width: inherit;
        display: flex;
        justify-content: space-around;
        width: 80%;
      }
      li {
        list-style: none;
      }
     #special-child {
      padding-left: 10%;
     }
     #rest-of-class {
      display: flex;
      justify-content: space-around;
      width: 25%;
      gap: 20%;
     }
     a {
      text-decoration: none;
      color: darkgray;

      &:visited {
        text-decoration: none;
        color: darkgray;
      }
     }
    }
  }

}