@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");



body {
    /* background-color: #f0f0f0; */
    margin: 0;
    padding: 0;
    display: flex;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid darkgray;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    align-items: center;
    z-index: 5;
  }
  .header a {
    margin-right: 5%;
  }
  .header h1 {
    margin-left: 8%;
  }




.content {
    flex-grow: 1;
}

.frame {
    margin-left: auto;
    margin-right: auto;
/* 
    width: 827px;
    height: 382px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.frame img {
    max-width: 100%;
   
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;

    
}
.post-footer div {
    margin-left: 20rem;
}

.post-footer a {
  color: #0074d9;
}
.eclipse {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 52px;
}

@media (min-width: 320px) {
    .sidebar {
        display: none;
    }
    

}

@media (min-width: 1024px){
    .sidebar {
        background-color: white;
        color: black;
        width: 200px;
        padding: 20px;
    }
    .header {
        display: none;
      }
}


