@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkgray;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    align-items: center;
    z-index: 5;
    height: 8%;
  }
  .header a {
    margin-right: 5%;
  }
  .header h1 {
    margin-left: 8%;
  }


.frame {
    margin-left: auto;
    margin-right: auto;
/* 
    width: 827px;
    height: 382px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.frame img {
    max-width: 100%;
   
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
}



@media (min-width: 320px) {
    .sidebar {
        display: none;
    }
    .desktop-footer {
        display: none;
      }
    .footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 100%;
        background-color: white;
        max-height: 5%;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 4;
        border-top: 1px solid lightgrey;
        padding: 0.5em;
      }
      .footer .profilePic {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid black;
      }
    

}

@media (min-width: 1024px){


  .desktop-footer {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    border-top: 1px solid lightgrey;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    color: grey;
    z-index: 0;
  }
  .desktop-footer nav {
    width: inherit;
    display: inherit;
    justify-content: right;
  }
  .desktop-footer nav ul {
    width: inherit;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .desktop-footer nav li {
    list-style: none;
  }
  .desktop-footer nav #special-child {
    padding-left: 10%;
  }
  .desktop-footer nav #rest-of-class {
    display: flex;
    justify-content: space-around;
    width: 25%;
    gap: 20%;
  }

    .footer {
        display: none;
    }


  .sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 12rem;
    flex-direction: column;
    background-color: white;
    z-index: 10;
  }
  .sidebar .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .sidebar a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 15%;
  }
  .sidebar a p {
    margin-left: 1rem;
  }
  .sidebar a p p:hover {
    text-decoration: underline;
  }
    body {
        display: flex;
        position: relative;
      }
      body .sidebar {
        left: 0;
        font-family: "Raleway", sans-serif;
        border-right: 1px solid lightgrey;
      }
      body .sidebar a {
        font-size: 1.1em;
      }
      body main {
        width: 80%;
      }
 
    .header {
        display: none;
      }
}


