@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: none;
}

a {
  text-decoration: none;
  color: darkgrey;
}
a:visited {
  text-decoration: none;
}

.desktop-footer {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  background-color: white;
  max-height: 5%;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 4;
  border-top: 1px solid lightgrey;
  padding: 0.5em;
}
.footer .profilePic {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid black;
}

.link a {
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition: 0.3s;
  display: inline-block;
}
.link a:visited {
  color: black;
  text-decoration: none;
}
.link a:hover {
  transform: scale(1.1);
}

.age, .posts, .likes {
  display: none;
}

.table-wrapper {
  width: 100vw;
  height: 100%;
  margin-top: 2rem;
}

.favorites-table {
  border-spacing: 0;
  margin: 25px 0;
  font-size: 1em;
  width: 100vw;
}
.favorites-table th {
  border-bottom: 1px solid black;
  font-family: "Raleway", sans-serif;
  padding-bottom: 0.3em;
}
.favorites-table td {
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  margin-top: 3em;
  margin-left: 1em;
}

.account {
  text-align: left;
  padding-left: 2%;
  width: 20px;
}

.row-one .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-one .table-picture::before {
  content: "";
  background-image: url("/favorites/images/AI-Profile-Picture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-two .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-two .table-picture::before {
  content: "";
  background-image: url("/favorites/images/jimmyai.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-three .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-three .table-picture::before {
  content: "";
  background-image: url("/favorites/images/koreanai.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-four .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-four .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-five .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-five .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-six .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-six .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto6.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-seven .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-seven .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto7.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-eight .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-eight .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto8.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-nine .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-nine .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto9.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-ten .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-ten .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.row-eleven .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-eleven .table-picture::before {
  content: "";
  background-image: url("/favorites/images/koreanai.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid darkgray;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  align-items: center;
  z-index: 5;
}
.header a {
  margin-right: 5%;
}
.header h1 {
  margin-left: 8%;
}

@media (min-width: 320px) {
  a {
    text-decoration: none;
    color: darkgrey;
  }
  a:visited {
    text-decoration: none;
  }
  .desktop-footer {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background-color: white;
    max-height: 5%;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid lightgrey;
    padding: 0.5em;
  }
  .footer .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .link a {
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: 0.3s;
    display: inline-block;
  }
  .link a:visited {
    color: black;
    text-decoration: none;
  }
  .link a:hover {
    transform: scale(1.1);
  }
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 100%;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    margin-top: 3em;
    margin-left: 1em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 375px) {
  a {
    text-decoration: none;
    color: darkgrey;
  }
  a:visited {
    text-decoration: none;
  }
  .desktop-footer {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background-color: white;
    max-height: 5%;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid lightgrey;
    padding: 0.5em;
  }
  .footer .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .link a {
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: 0.3s;
    display: inline-block;
  }
  .link a:visited {
    color: black;
    text-decoration: none;
  }
  .link a:hover {
    transform: scale(1.1);
  }
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 100%;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    margin-top: 3em;
    margin-left: 1em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 425px) {
  a {
    text-decoration: none;
    color: darkgrey;
  }
  a:visited {
    text-decoration: none;
  }
  .desktop-footer {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background-color: white;
    max-height: 5%;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid lightgrey;
    padding: 0.5em;
  }
  .footer .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .link a {
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: 0.3s;
    display: inline-block;
  }
  .link a:visited {
    color: black;
    text-decoration: none;
  }
  .link a:hover {
    transform: scale(1.1);
  }
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 100%;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    margin-top: 3em;
    margin-left: 1em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 768px) {
  a {
    text-decoration: none;
    color: darkgrey;
  }
  a:visited {
    text-decoration: none;
  }
  .desktop-footer {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background-color: white;
    max-height: 5%;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid lightgrey;
    padding: 0.5em;
  }
  .footer .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .link a {
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: 0.3s;
    display: inline-block;
  }
  .link a:visited {
    color: black;
    text-decoration: none;
  }
  .link a:hover {
    transform: scale(1.1);
  }
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 100%;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    margin-top: 3em;
    margin-left: 1em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 1024px) {
  .desktop-footer {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    border-top: 1px solid lightgrey;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    color: grey;
    z-index: 0;
  }
  .desktop-footer nav {
    width: inherit;
    display: inherit;
    justify-content: right;
  }
  .desktop-footer nav ul {
    width: inherit;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .desktop-footer nav li {
    list-style: none;
  }
  .desktop-footer nav #special-child {
    padding-left: 10%;
  }
  .desktop-footer nav #rest-of-class {
    display: flex;
    justify-content: space-around;
    width: 25%;
    gap: 20%;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid black;
    font-size: 1em;
    margin-bottom: 5em;
  }
  body {
    display: flex;
    position: relative;
  }
  body .sidebar {
    left: 0;
    font-family: "Raleway", sans-serif;
    border-right: 1px solid lightgrey;
  }
  body .sidebar a {
    font-size: 1.1em;
  }
  body main {
    width: 80%;
  }
  .age, .posts, .likes {
    display: table-cell;
  }
  .favorites-table {
    width: 100%;
  }
  .table-wrapper {
    width: 80%;
    height: 60%;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 10%;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 12rem;
    flex-direction: column;
    background-color: white;
    z-index: 10;
  }
  .sidebar .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .sidebar a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 15%;
  }
  .sidebar a p {
    margin-left: 1rem;
  }
  .sidebar a p p:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=main.css.map */