@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.age, .posts, .likes {
  display: none;
}

.table-wrapper {
  width: 100vw;
  height: 1357px;
  margin-top: 2rem;
}

.favorites-table {
  border-spacing: 0;
  margin: 25px 0;
  font-size: 1em;
  width: 100vw;
}
.favorites-table th {
  border-bottom: 1px solid black;
  font-family: "Raleway", sans-serif;
  padding-bottom: 0.3em;
}
.favorites-table td {
  padding: 1.3em;
  text-align: center;
  border-bottom: 1px solid black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid black;
  padding: 2rem 0 0.2rem 12vw;
  font-size: 1em;
  margin-bottom: 3em;
}

.account {
  text-align: left;
  padding-left: 2%;
  width: 20px;
}

.row-one .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-one .table-picture::before {
  content: "";
  background-image: url("/favorites/images/AI-Profile-Picture.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-two .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-two .table-picture::before {
  content: "";
  background-image: url("/favorites/images/jimmyai.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-three .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-three .table-picture::before {
  content: "";
  background-image: url("/favorites/images/koreanai.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-four .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-four .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto4.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-five .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-five .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto5.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-six .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-six .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto6.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-seven .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-seven .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto7.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-eight .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-eight .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto8.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-nine .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-nine .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto9.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-ten .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-ten .table-picture::before {
  content: "";
  background-image: url("/favorites/images/foto10.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

.row-eleven .table-picture {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.row-eleven .table-picture::before {
  content: "";
  background-image: url("/favorites/images/koreanai.jpeg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}

@media (min-width: 320px) {
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 1357px;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1.3em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid black;
    padding: 2rem 0 0.2rem 12vw;
    font-size: 1em;
    margin-bottom: 3em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 375px) {
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 1357px;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1.3em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid black;
    padding: 2rem 0 0.2rem 12vw;
    font-size: 1em;
    margin-bottom: 3em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 425px) {
  .age, .posts, .likes {
    display: none;
  }
  .table-wrapper {
    width: 100vw;
    height: 1357px;
    margin-top: 2rem;
  }
  .favorites-table {
    border-spacing: 0;
    margin: 25px 0;
    font-size: 1em;
    width: 100vw;
  }
  .favorites-table th {
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0.3em;
  }
  .favorites-table td {
    padding: 1.3em;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid black;
    padding: 2rem 0 0.2rem 12vw;
    font-size: 1em;
    margin-bottom: 3em;
  }
  .account {
    text-align: left;
    padding-left: 2%;
    width: 20px;
  }
}
@media (min-width: 768px) {
  .age, .posts, .likes {
    display: table-cell;
  }
  .favorites-table {
    width: 100%;
  }
  .table-wrapper {
    width: 80%;
    height: 60%;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */