@use '../abstracts/' as a;

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid darkgray;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    align-items: center;
    a {
      margin-right: 5%;
    }
    h1 {
      margin-left: 8%;
    }
  }
